@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403f3f;
  --color-secondary: #d72050;
  --color-info: #540863;
  --color-warning: #016b61;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}

li a.active {
  @apply bg-base-300;
  @apply text-primary;
}